.primary_color{
    background-color: aquamarine;
}
.mycontainer {
    background-color: aquamarine;
}
ul {
    list-style: none;
    padding: 0 .5rem;
    margin: 0;
}
ul > li {
    margin: o .5rem;
    
}